* {
    padding: 0;
    margin: 0;
    outline: none !important;
    font-family: "PT Sans";
}
.custom_container {
    max-width: 1300px;
    margin: 0 auto;
}
a:hover {
    text-decoration: none;
}

/* header */
.active_menu::before {
    content: "";
    z-index: 10;
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
header {
    background: rgba(63, 56, 56, 0.4);
    border-bottom: 1px solid #ffffff;
    padding: 5px;
    position: fixed;
    width: 100%;
    top: 0;
    /* z-index: 10; */
    z-index: 21;
}
header.non_mainpage {
    background: #3f3838;
}
.header_mobile {
    display: none;
}
.header_wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header_info {
    display: flex;
    align-items: center;
}
.header_info p {
    margin: 0 0 0 10px;
}
.header_info p span:first-child {
    font-style: normal;
    font-weight: bold;
    font-size: 23px;
    line-height: 30px;
    text-transform: uppercase;
    color: #ffffff;
    letter-spacing: 0.06em;
}
.header_info p span:last-child {
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 20px;
    text-transform: lowercase;
    color: #ffffff;
    display: block;
    letter-spacing: 0.06em;
}
.header_location {
    margin-left: 20px;
    width: 176px;
}
.header_location > a {
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 20px;
    border-bottom: 1px dashed #ffffff;
    color: #ffffff;
    text-decoration: none !important;
    letter-spacing: 0.02em;
}

.header_nav {
    min-width: 300px;
}
.header_nav ul {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header_nav ul li {
    list-style: none;
}
.header_nav ul li a {
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 23px;
    color: #ffffff;
    letter-spacing: 0.06em;
}
.header_info_wrap {
    display: flex;
    align-items: center;
}
.bottom_mob_fotoer a:hover,
ё .header_mobile a:hover,
.menu_responsive a:hover,
.header_info_wrap a:hover {
    text-decoration: none;
}
.header_object a.add_obj,
.add_obj {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    color: #ffffff;
    padding: 10px 30px;
    background: #3ba00b;
    border: none;
    letter-spacing: 0.01em;
    transition: 0.3s;
}
.header_object a.add_obj:hover,
.add_obj:hover {
    background: #346f18;
}
.header_object {
    border-left: 1.5px solid #8e8e8e;
    padding: 15px 20px;
    display: flex;
    align-items: center;
}
.header_account {
    margin-left: 30px;
}
.header_account a {
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 19px;
    color: #ffffff;
    letter-spacing: 0.06em;
}

/* BODY */

#section1 {
    background: url("../img/sec1-bg.jpg") no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 577px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.section1_content {
    max-width: 900px;
    position: relative;
}
.sec1_title {
    font-style: normal;
    font-weight: bold;
    font-size: 34px;
    line-height: 44px;
    text-transform: uppercase;
    color: #ffffff;
    text-align: center;
    max-width: 470px;
    letter-spacing: 0.06em;

    margin: 0 auto 20px;
}
.mobile_prods_wrap {
    display: none;
}
.sec1_filter {
    background: rgba(255, 255, 255, 0.5);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    display: flex;
    padding: 11px;
}
.sec1_filter > div > select {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 23px;
    color: #353535;
    height: 60px;
    padding: 5px 10px;
    width: 220px;
    background: #ffffff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border: none;
    letter-spacing: 0.06em;
}
.sec1_filter > div > .location_select {
    width: 260px;
}
.sec1_filter > div,
.catalog_filter > div {
    position: relative;
    display: inline-block;
}
.mobile_hidden_mob_location {
    display: none;
    position: absolute;
    width: 100%;
    background: #fff;
    z-index: 5;
    padding: 30px 15px;
    margin-top: -44px;
}
.hidden_location_tabs_title {
    justify-content: center;
    width: 400px;
    margin: 0 auto 25px;
}
.hidden_location_tabs_title li {
    border: 1px solid #ffa800;
    width: 50%;
}
.hidden_location_tabs_title li a {
    color: #ffa800;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 23px;
    text-align: center;
    letter-spacing: 0.06em;
    padding: 12px 37px;
    background: #fff;
    transition: 0.3s;
}
.location_single_tab > button {
    display: block;
    margin: 20px auto 0;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 21px;
    text-align: center;
    letter-spacing: 0.06em;
    color: #ffffff;
    background: #ffa800;
    border: 2px solid #ffa800;
    padding: 10px 39px;
    transition: 0.3s;
}
.location_single_tab > .select_wrap > select {
    font-style: normal;
    font-weight: normal;
    font-size: 19px;
    line-height: 25px;
    border: 1px solid #bbbbbb;
    box-sizing: border-box;
    letter-spacing: 0.01em;
    height: 53px;
    width: 400px;
    padding-right: 25px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding: 0 15px;
    cursor: pointer;
}
.location_single_tab > .select_wrap {
    text-align: center;
    position: relative;
    margin-bottom: 35px;
    width: fit-content;
    margin: 0 auto;
}
.location_single_tab > .select_wrap::after {
    content: url("../img/arrow.svg");
    padding: 0 8px;
    font-size: 12px;
    position: absolute;
    right: 5px;
    top: 19px;
    z-index: 1;
    text-align: center;
    width: 10%;
    height: 100%;
    pointer-events: none;
    box-sizing: border-box;
}
.location_single_tab > button:hover {
    background: #fff;
    color: #ffa800;
}
.hidden_location_tabs_title li a.active,
.hidden_location_tabs_title li a:hover {
    color: #fff;
    background: #ffa800;
}
.sec1_filter > div:after,
.catalog_filter > div:after {
    content: url("../img/arrow.svg");
    padding: 0 8px;
    font-size: 12px;
    position: absolute;
    right: 14px;
    top: 22px;
    z-index: 1;
    text-align: center;
    width: 10%;
    height: 100%;
    pointer-events: none;
    box-sizing: border-box;
}
.sec1_filter > div > select,
.catalog_filter > div > select {
    padding-right: 25px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
.sec1_filter > button {
    background: #ffa800;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    width: 140px;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 28px;
    color: #ffffff;
    letter-spacing: 0.06em;
    border: none;
    transition: 0.3s;
}
.sec1_filter > button:hover {
    background: #ff8100;
}
.sec1_filter_tags {
    text-align: center;
    margin-top: 20px;
}
.sec1_filter_tags a {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 21px;
    text-align: center;
    letter-spacing: 0.04em;
    color: #000000;
    padding: 5px 15px;
    background: rgba(252, 252, 252, 0.8);
    border-radius: 5px;
    transition: 0.3s;
}
.sec1_filter_tags a.active_tag,
.sec1_filter_tags a:hover {
    color: #fff;
    text-decoration: none;
    background: #ffa800;
}
#section2 {
    padding: 80px 0 40px;
    background: #eceef2;
}
#section2 > .container {
    padding: 0;
}
.section_title {
    font-style: normal;
    font-weight: bold;
    font-size: 34px;
    line-height: 44px;
    text-align: center;
    letter-spacing: 0.09em;
    text-transform: uppercase;
    color: #000000;

    margin: 0 auto 20px;
}
#section2 .section_title {
    width: 470px;
}
.sec2_catalog {
    margin-top: 30px;
}
.large_prod {
    margin-bottom: 30px;
}
.large_prod .single_prod_info {
    min-height: 240px;
    position: relative;
}
.large_prod .bottom_buttons {
    position: absolute;
    bottom: 15px;
    width: calc(100% - 35px);
}
.small_prod .single_prod_info {
    min-height: 205px;
    position: relative;
}
.small_prod .bottom_buttons {
    position: absolute;
    bottom: 15px;
    width: calc(100% - 26px);
}
.single_prod .image {
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background-position: center !important;
    width: 100%;
    min-height: 240px;
}
.single_prod_info {
    padding: 20px;
    background: #ffffff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.single_prod_info > div {
    display: flex;
    flex-wrap: wrap;
}
.single_prod_info > div > div {
    display: flex;
    align-items: center;
    margin-right: 6px;
    margin-bottom: 10px;
}
.single_prod_info .title {
    font-style: normal;
    font-weight: bold;
    font-size: 21px;
    line-height: 27px;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #212121;
    margin-bottom: 6px;
}
.single_prod_info > div > div {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.single_prod_info > div > div p {
    margin: 0 0 0 3px;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 23px;
    align-items: center;
    letter-spacing: 0.05em;

    color: #6f6f6f;
}
.hotel_info .single_prod_info > div > div p {
    font-size: 21px;
    line-height: 23px;
}
.bottom_buttons {
    justify-content: space-between;
    margin-top: 40px;
    align-items: center;
}
.bottom_buttons .price {
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 0.06em;
    margin: 0;
    color: #212121;
}
.large_prods_wrap {
    padding-left: 15px;
    padding-right: 15px;
}
.bottom_buttons .price span {
    font-size: 26px;
}
.bottom_buttons .details {
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 21px;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #ffffff;
    padding: 8px 15px;
    background: #ffa800;
    border: none;
    transition: 0.3s;
}
.bottom_buttons .details:hover {
    background: #ff8100;
}
.small_prods_wrap > div {
    padding-left: 10px;
    padding-right: 10px;
}
.small_prod .image {
    min-height: 180px;
}
.small_prod .single_prod_info {
    padding: 15px 13px;
}
.small_prod .single_prod_info .title {
    font-size: 18px;
}
.small_prod .single_prod_info > div > div {
    margin-right: 4px;
    margin-bottom: 5px;
}
.small_prod .single_prod_info > div > div p {
    font-size: 13px;
}
.small_prod .bottom_buttons {
    margin-top: 25px;
}
.small_prod .bottom_buttons .price span {
    font-size: 21px;
}
.small_prod .bottom_buttons .price {
    font-size: 17px;
}
.small_prod .bottom_buttons .details {
    font-size: 14px;
}
.sec2_show_more {
    text-align: center;
    margin-top: 70px;
}
.sec2_show_more a {
    padding: 10px 30px;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.08em;
    color: #ffffff;
    background: #ffa800;
    border-radius: 2px;
    transition: 0.3s;
}
.sec2_show_more a:hover {
    background: #ff8100;
}
#section3 {
    padding: 80px 0 40px;
}
.section_subtitle {
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 36px;
    text-align: center;
    letter-spacing: 0.04em;
    color: #5e5e5e;
}
#section3 .section_subtitle {
    max-width: 624px;
    margin: 0 auto 40px;
}
#section3 .section_title {
    width: 640px;
}
.sec3_single_item {
    background-size: cover !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    width: 100%;
    min-height: 220px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 12px;
    margin-bottom: 30px;
}
.sec3_single_item p {
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 36px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #ffffff;
    max-width: 90%;
    margin: 0;
}
.sec3_text p {
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 26px;

    color: #5e5e5e;
}
#catalog_wrap {
    margin-top: 81px;
    padding: 80px 0 60px;
}
.catalog_title a.catalog_selected_region {
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 20px;
    letter-spacing: 0.02em;
    color: #949494;
}
.catalog_title p {
    font-style: normal;
    font-weight: bold;
    font-size: 42px;
    line-height: 54px;
    letter-spacing: 0.06em;
    color: #050505;
    margin: 0;
}
.catalog_filter select {
    height: 60px;
    width: 210px;
    background: #ffffff;
    border: 1px solid #b4b4b4;
    margin-left: -1px;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 23px;
    align-items: center;
    letter-spacing: 0.06em;
    text-indent: 15px;
    color: #584e4e;
}
.mob_text {
    display: none;
}
.catalog .large_prod .single_prod_info > div > div p {
    font-size: 17px;
}
.catalog_filter select.location_select {
    width: 260px;
}
.before_catalog {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 0 15px;
}
.catalog_filter button {
    height: 60px;
    border: 1px solid #ffa800;
    background: #ffa800;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 28px;
    text-align: center;
    letter-spacing: 0.06em;
    padding: 10px 30px;
    color: #ffffff;
    transition: 0.3s;
}
.catalog_filter button:hover {
    background: #ff8100;
}
.catalog_filter {
    display: flex;
    align-items: center;
}
.catalog {
    margin-top: 75px;
}
.catalog .small_prod {
    margin-bottom: 30px;
}
.catalog .large_prods_wrap {
    margin-bottom: 30px;
}
.catalog_pagination {
    margin-top: 100px;
}
.custom_pagination {
    display: flex;
    align-items: center;
    justify-content: center;
}
.custom_pagination .prev,
.custom_pagination .next {
    background: #f1f1f1;
    padding: 7px 8px 11px;
}
.pagi_numbers {
    display: flex;
    align-items: center;
    border: 1px solid #f1f1f1;
    margin: 0 25px;
}
.pagi_numbers a,
.pagi_numbers span {
    font-style: normal;
    font-weight: normal;
    font-size: 23px;
    line-height: 30px;
    text-align: center;
    letter-spacing: 0.06em;
    padding: 5px 12px 5px 15px;

    color: #818181;
}
.pagi_numbers a.current_page {
    border: 1px solid #000000;
    color: #000;
}
#single_hotel_wrap {
    margin-top: 81px;
    padding: 80px 0;
}
.breacrumbs {
    margin-bottom: 10px;
}
.breacrumbs a {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 23px;

    letter-spacing: 0.06em;

    color: #7a7a7a;
}
.breacrumbs span {
    margin: 0 5px;
}

.hotel_main_photo img {
    width: 100%;
}
.hotel_sub_photos {
    margin-top: 50px;
}
.hotel_sub_photos > div {
    padding: 0 !important;
    width: 100%;
}
.hotel_sub_photos > div > div {
    width: 100%;
}
.hotel_sub_photos .slick-track {
    display: flex;
    justify-content: space-between;
}
.hotel_sub_photos .sub_photo {
    min-height: 90px;
    background-position: center !important;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    margin: 0 5px;
}
.hotel_sub_photos > div > div > div {
    position: relative;
}
.hotel_sub_photos > div > div > div > div {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    cursor: pointer;
}
.hotel_sub_photos > div > div > div.slick-current > div {
    border: 5px solid #ffa800;
}
.hotel_info .single_prod_info {
    padding: 0;
    border: none;
    box-shadow: none;
    margin-bottom: 10px;
}
.mob_leave_review {
    display: none;
}
.hidden_description_trigger {
    display: none;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 21px;
    letter-spacing: 0.02em;

    color: #807b7b !important;
}
.generator a,
.generator {
    text-align: center;
    color: #3f3838;
    text-decoration: none;
    opacity: 0;
}
.mob_prev_arr,
.mob_next_arr {
    display: none;
}
.hotel_mobile_title {
    display: none;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 27px;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    margin-bottom: 15px;
    color: #000000;
}
.hotel_sub_photos div img {
    width: 100%;
}
.hotel_info .hotel_title {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 34px;
    letter-spacing: 0.06em;
    text-transform: uppercase;

    color: #000000;
}
.single_prod_info .hotel_walk p {
    font-style: normal;
    font-weight: normal;
    font-size: 18px !important;
    line-height: 23px !important;
    letter-spacing: 0.03em;
    margin: 0;
    color: #000000;
}
.hotel_description p {
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 28px;
    color: #000000;
    margin: 0;
}
.hotel_description {
    margin-bottom: 20px;
}
.hotel_rooms div {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}
.hotel_rooms div p {
    margin: 0;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 26px;
    text-indent: 8px;
    color: #4d4d4d;
}
.book_room {
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    color: #ffffff;
    background: #ffa800;
    padding: 10px 30px;
    border: none;
    margin: 35px auto 0;
    display: block;
    transition: 0.3s;
}
.book_room:hover {
    background: #ff8100;
}
.slick-track:before,
.slick-track:after {
    content: unset;
}
.hotel_main {
    padding: 90px 0 40px;
}
.main_hotel_descriptionn p {
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 28px;

    width: 96%;
    color: #000000;
}
.main_hotel_descriptionn .description_title,
.hotel_rooms_wrap .description_title,
.description_title {
    font-style: normal;
    font-weight: bold;
    font-size: 35px;
    line-height: 45px;
    letter-spacing: 0.1em;

    color: #000000;
}
.recs_title {
    font-style: normal;
    font-weight: bold;
    font-size: 21.5px;
    line-height: 28px;
    text-align: center;
    letter-spacing: 0.025em;
    padding-top: 60px;
    color: #000000;
}
.main_hotel_rec .sec3_single_item {
    min-height: 150px;
}
.main_hotel_rec .sec3_single_item p {
    font-size: 22px;
    line-height: 28px;
}
.hotel_rooms_wrap {
    padding-top: 30px;
}
.single_hotel_room {
    display: flex;
    justify-content: space-between;
    margin-bottom: 80px;
}
.single_hotel_room .image {
    background-position: center !important;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    min-height: 200px;
    min-width: 300px;
}
.single_hotel_room .image .count {
    font-style: normal;
    font-weight: normal;
    font-size: 21px;
    line-height: 27px;
    text-align: center;
    letter-spacing: 0.04em;
    color: #ffffff;
    padding: 5px;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 6px;
    max-width: 95px;
    margin: 5px;
}
.rooms_title {
    margin-bottom: 40px;
}
.single_hotel_room .info {
    width: 290px;
}
.single_hotel_room .info .title {
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 39px;
    letter-spacing: 0.06em;
    text-transform: capitalize;
    color: #000000;
}

.single_hotel_room .info div {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-right: 10px;
}
.single_hotel_room .info div div {
    margin-bottom: 7px;
}
.single_hotel_room .info div div p {
    margin: 0 0 0 5px;
    font-style: normal;
    font-weight: normal;
    font-size: 15.5px;
    line-height: 20px;
    color: #7c7c7c;
}
.single_hotel_room .price_wrap {
    width: 230px;
}
.single_hotel_room .price_wrap div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #b5b5b5;
    height: 39px;
    padding: 0 10px;
}
.single_hotel_room .price_wrap .active {
    background: #eceef2;
}
.single_hotel_room .price_wrap div p {
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 40px;
    letter-spacing: 0.03em;
    color: #383838;
    margin: 0;
}
.single_hotel_room .book_room {
    font-size: 16px;
    line-height: 21px;
    margin-top: 65%;
}
.hotel_reviews {
    background: #eceef2;
    padding: 45px 0;
}
.hotel_reviews_top {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}
.reviews_rating {
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 32px;
    letter-spacing: 0.02em;

    color: #000000;
}
.leave_review {
    padding: 10px 30px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 21px;
    text-align: center;
    letter-spacing: 0.01em;
    color: #ffffff;
    background: #3ba00b;
    border: none;
    transition: 0.3s;
}
.leave_review:hover {
    background: #346f18;
}
.hotel_reviews_wrap {
    margin-top: 30px;
}
.single_hotel_review {
    padding: 15px 20px;
    background: #ffffff;
    border-radius: 6px;
}
.single_hotel_review .positive,
.single_hotel_review .negative {
    display: flex;
    align-items: center;
}
.single_hotel_review .positive {
    margin-bottom: 10px;
}
.single_hotel_review .positive p,
.single_hotel_review .negative p {
    font-style: normal;
    font-weight: normal;
    font-size: 19px;
    line-height: 25px;
    color: #000000;
    margin: 0 0 0 20px;
}
.single_hotel_review .author {
    margin-top: 20px;
}
.single_hotel_review .author .name {
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 28px;
    letter-spacing: 0.05em;
    color: #5a5a5a;
    margin: 0;
}
.single_hotel_review .author .date {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 23px;
    letter-spacing: 0.02em;
    color: #5a5a5a;
    margin: 0;
}
.hotel_reviews_top .description_title {
    margin: 0;
}
.show_more_reviews {
    margin: 40px 0 0 15px;
}
.show_more_reviews a {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 23px;
    letter-spacing: 0.02em;
    color: #474444;
}
.recent_hotels {
    padding: 120px 0 0 0;
}
.recent_hotels_slider .single_prod {
    margin: 10px 15px;
}
.recent_hotels_slider .single_prod .single_prod_info > div > div p {
    font-size: 17px;
}
.recent_hotels_slider_wrap {
    position: relative;
}
.prev_arr,
.next_arr {
    position: absolute;
    top: 50%;
}
.prev_arr {
    left: -40px;
}
.next_arr {
    right: -40px;
}
.account_wrap {
    margin-top: 81px;
    padding: 40px 0 140px;
}
.account_content .row {
    max-width: 800px;
    margin: 0 auto !important;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.account_main_title {
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 39px;
    text-align: center;
    margin-bottom: 40px;
    color: #000000;
}
.account_single_section {
    text-decoration: none !important;
    padding: 0;
}
.account_single_section > div img {
    margin: 0 10px;
}
.account_single_section > div {
    min-height: 155px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #eceef2;
    border: 1px solid rgba(77, 77, 77, 0.2);
    box-sizing: border-box;
}
.account_single_section > div > div p {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 18px;
    margin: 0;
    color: #676767;
}
.account_single_section > div .account_sec_title {
    font-style: normal;
    font-weight: normal;
    font-size: 23px;
    line-height: 30px;
    margin: 0;
    color: #000000;
}
.account_small_section > div .account_sec_title,
.account_small_section > div > div {
    max-width: 200px;
}
.account_large_section > div .account_sec_title {
    max-width: 400px;
    text-align: center;
}
.account_header .add_obj {
    display: none;
}
.acc_supp_single img {
    margin-right: 30px;
}
.acc_supp_single p {
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 32px;
    color: #000000;
    max-width: 600px;
    margin: 0;
}
.acc_supp_single {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}
.acc_supp_single p a {
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 32px;
    color: #000000;
}
.acc_supp_title {
    font-style: normal;
    font-weight: bold;
    font-size: 34px;
    line-height: 44px;
    color: #000000;
    margin-bottom: 30px;
}
.acc_supp_form {
    padding-left: 75px;
}
.acc_supp_form textarea {
    width: 720px;
    height: 215px;
    border: 1px solid #4d4d4d;
    box-sizing: border-box;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 31px;
    letter-spacing: 0.02em;
    padding: 15px;
    display: block;
    margin-bottom: 35px;
}
.acc_supp_form button {
    border: none;
    padding: 15px 65px;
    background: #ffa800;
    box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.12);
    font-weight: bold;
    font-size: 25px;
    line-height: 32px;
    letter-spacing: 0.06em;
    color: #ffffff;
    transition: 0.3s;
}
.acc_supp_form button:hover {
    background: #ff8100;
}
.acc_supp_form textarea::placeholder {
    color: #4d4d4d;
}
.account_support_wrap {
    padding-bottom: 100px;
}
.account_breadcrumbs a {
    font-weight: bold;
    font-size: 18px;
    line-height: 23px;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #676767;
}
.account_breadcrumbs a img {
    margin-right: 20px;
    vertical-align: unset;
}
.account_breadcrumbs {
    margin-bottom: 40px;
}
.acc_support_success_wrap {
    /* height: calc(100vh - 718px); */
    min-height: 562px;
}
.acc_support_success_wrap {
    display: flex;
    align-items: center;
    justify-content: center;
}
.acc_support_success_wrap > img {
    margin-right: 10px;
}
.acc_support_success_wrap > div p {
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 36px;
    letter-spacing: 0.06em;
    color: #545454;
    margin: 0;
}
.acc_support_success_wrap > div .acc_support_success_title {
    font-style: normal;
    font-weight: bold;
    font-size: 42px;
    line-height: 54px;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #050505;
}
.acc_single_object {
    display: flex;
    align-items: center;
}
.acc_single_object .image {
    min-width: 300px;
    min-height: 200px;
    background-position: center !important;
    background-size: cover !important;
    background-repeat: no-repeat !important;
}
.acc_single_object {
    margin-bottom: 20px;
}
.acc_single_object .info {
    padding: 10px 5px;
    background: #ffffff;
    border: 1px solid rgba(77, 77, 77, 0.2);
    box-sizing: border-box;
    height: 200px;
    width: 415px;
    margin-right: 5px;
}
.acc_single_object .info .title {
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 31px;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #000000;
    margin-bottom: 10px;
    padding-left: 5px;
}
.acc_single_object .info > div {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
}

.acc_single_object .info .icon_wrap {
    width: 35px;
    display: inline-block;
    text-align: center;
}
.acc_objects_title {
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 41px;
    color: #000000;
    margin-bottom: 20px;
}
.acc_single_object .info > div > p,
.acc_single_object .info > a {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 23px;
    letter-spacing: 0.02em;
    color: #676767;
    margin: 0;
}
.acc_single_object .info > a {
    display: block;
    margin-bottom: 8px;
}
.non_payed {
    padding-top: 20px;
    text-align: center;
    margin-bottom: 40px;
}
.non_payed > div {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}
.non_payed > div > div > p {
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 22px;
    letter-spacing: 0.02em;
    color: #676767;
    text-align: center;
    margin: 0;
}
.non_payed > div > div > .non_payed_title {
    font-size: 21px;
    line-height: 23px;
    color: #000000;
}
.acc_objects_content {
    display: flex;
    align-items: flex-start;
}
.non_payed > a {
    font-weight: bold;
    font-size: 20px;
    line-height: 26px;
    letter-spacing: 0.06em;
    color: #ffffff;
    padding: 10px 60px;
    background: #ffa800;
    box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.12);
    margin-left: 38px;
    transition: 0.3s;
}
.non_payed > a:hover {
    background: #ff8100;
}
.acc_reset_title {
    display: flex;
    align-items: center;
    justify-content: center;
}
.acc_reset_title p {
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 41px;
    margin: 0;
    color: #000000;
    max-width: 380px;
}
.account_reset_password .account_breadcrumbs {
    margin-bottom: 0;
}
.acc_reset_content {
    max-width: 450px;
    margin: 30px auto 0;
}
.acc_reset_content > div {
    margin-bottom: 20px;
}
.acc_reset_content > div > label {
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 31px;
    letter-spacing: 0.02em;
    color: #4d4d4d;
}
.acc_reset_content > div > input {
    width: 100%;
    height: 61px;
    background: #ffffff;
    border: 1px solid rgba(77, 77, 77, 0.2);
    box-sizing: border-box;
    margin-bottom: 5px;
    font-size: 24px;
    line-height: 31px;
    letter-spacing: 0.02em;
    padding-left: 10px;
}
.acc_reset_content > div .forgot_pass {
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 26px;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #4d4d4d;
}
.submit_reset_pass {
    display: block;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 31px;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: capitalize;
    color: #ffffff;
    background: #ffa800;
    box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.12);
    text-decoration: none !important;
    padding: 18px;
    margin-top: 40px;
    transition: 0.3s;
    width: 100%;
    border: none;
}
.remember_me {
    margin: 15px 0 0 0;
    cursor: pointer;
}
.remember_me input {
    margin-right: 10px;
}
.submit_reset_pass:hover {
    background: #ff8100;
    color: #fff;
}
.partners_wrap {
    background: url("../img/partners-bg.jpg") no-repeat;
    /* background-size: contain; */
    background-position: top right;
}
.partners_main .title {
    font-style: normal;
    font-weight: bold;
    font-size: 42px;
    line-height: 54px;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #050505;
}
.partners_main > div,
.partners_main .title {
    width: 80%;
}
.partners_main > div > p {
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 31px;
    letter-spacing: 0.02em;
    color: #000000;
}
.partners_wrap {
    margin-top: 81px;
    padding: 60px 0 120px;
}
.partners_advantages {
    padding: 60px 0 100px;
}
.partners_advantages .title {
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 47px;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #050505;
}
.partners_advantages > div {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.single_partner_adv {
    text-align: center;
    padding: 30px 15px 0;
}
.single_partner_adv > img {
    margin-bottom: 15px;
}
.single_partner_adv p {
    margin: 0;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 28px;
    text-align: center;
    color: #2f2f2f;
}
.partners_add_hotel {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.partners_add_hotel .title {
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 47px;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #050505;
    max-width: 450px;
    margin: 0;
}
.partners_add_hotel p {
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 28px;
    color: #2f2f2f;
    max-width: 300px;
    margin: 0;
}
.partners_add_hotel .add_hotel {
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 32px;
    letter-spacing: 0.06em;
    color: #ffffff;
    background: #ffa800;
    box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.12);
    padding: 10px 50px;
    transition: 0.3s;
}
.partners_add_hotel .add_hotel:hover {
    background: #ff8100;
}
.add_object {
    margin-top: 81px;
    padding: 60px 0 80px;
}
.add_object_title .title {
    font-style: normal;
    font-weight: bold;
    font-size: 42px;
    line-height: 54px;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    margin-bottom: 10px;
    color: #050505;
}
.add_object_title .subtitle {
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 31px;
    letter-spacing: 0.02em;
    color: #000000;
    width: 65%;
    margin-bottom: 30px;
}
.add_object_title {
    margin-bottom: 20px;
}
.sub_info p {
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 26px;
    letter-spacing: 0.02em;
    color: #7c7c7c;
    margin: 0 0 0 5px;
}
.sub_info {
    display: flex;
    align-items: center;
}
.object_step {
    margin-bottom: 40px;
}
.object_step .step_title {
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 39px;
    letter-spacing: 0.06em;
    text-transform: uppercase;

    color: #050505;
}
.object_step input,
.object_step textarea {
    height: 65px;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 31px;
    letter-spacing: 0.02em;
    text-indent: 20px;
    width: 100%;
    max-width: 750px;
}
.object_step textarea {
    padding-top: 10px;
}
.object_step input::placeholder,
.object_step textarea::placeholder {
    color: #4d4d4d;
}
.object_step textarea {
    height: 200px;
}
.object_single_category {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 600px;
    margin-bottom: 10px;
}
.object_single_category .title {
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 36px;
    letter-spacing: 0.02em;
    color: #000000;
    margin: 0;
}
.object_single_category .remove_category {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 23px;
    letter-spacing: 0.02em;
    color: #4d4d4d;
}
.add_new_category_content {
    padding: 40px 0 30px;
    background: #eceef2;
    margin-top: 30px;
}
.add_new_category_block .category_title,
.add_new_category_block .category_rooms_count {
    display: inline-block;
}
.add_new_category_block .category_rooms_count {
    margin-left: 45px;
}
.add_new_category_block .category_price_per_room {
    margin: 50px 0 80px;
}
.add_new_category_block .category_title label,
.add_new_category_block .category_rooms_count label,
.add_new_category_block .category_price_per_room label,
.add_new_category_block .category_rooms_photos label {
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 31px;
    letter-spacing: 0.02em;
    color: #4d4d4d;
    display: block;
}
.add_new_category_block .category_title input,
.add_new_category_block .category_rooms_count input {
    height: 61px;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 26px;
    letter-spacing: 0.02em;
    text-indent: 20px;
    background: #ffffff;
    border: 1px solid rgba(77, 77, 77, 0.2);
    box-sizing: border-box;
}
.add_new_category_block .category_title input {
    width: 450px;
}
.add_new_category_block .category_rooms_count input {
    width: 61px;
}
.add_new_category_block .category_title input::placeholder {
    color: #9a9a9a;
}
.category_price_per_room div select,
.category_price_per_room div input {
    height: 44px;
    background: #ffffff;
    border: 1px solid rgba(77, 77, 77, 0.2);
    box-sizing: border-box;
    font-style: normal;
    font-weight: normal;
    font-size: 21px;
    line-height: 27px;
    letter-spacing: 0.02em;
    padding-left: 10px;
    color: #4d4d4d;
    position: relative;
}
.category_price_per_room div input {
    background: url("../img/input_icon.png") no-repeat;
    background-position: center right;
    background-position-x: 94%;
    background-color: #fff;
    width: 210px;
    margin-left: 25px;
}
.category_price_per_room div select {
    width: 120px;
}
.category_price_per_room div input::placeholder {
    color: #9a9a9a;
}
.add_price_per_hour {
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 26px;
    letter-spacing: 0.02em;

    color: #4d4d4d;
}
.edit_price_per_room {
    margin-bottom: 25px;
}
.add_price_per_hour img {
    margin-right: 5px;
}
.category_rooms_photo {
    /* background: #ffffff;
    border: 1px solid #4d4d4d;
    box-sizing: border-box;
    width: 180px;
    height: 180px;
    position: relative;
    background: url("../img/input_plus.png") no-repeat;
    background-position: center;
    background-color: #fff; */
    min-height: 150px;
    border: 2px solid rgba(0, 0, 0, 0.3);
    background: white;
    padding: 20px 20px;
    cursor: pointer;
}
.category_rooms_photo .dz-preview {
    position: relative;
    display: inline-block;
    vertical-align: top;
    margin: 16px;
    min-height: 100px;
}

.add_new_category_button {
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 31px;
    letter-spacing: 0.02em;
    color: #ffffff;
    background: #3ba00b;
    border: none;
    padding: 15px 20px;
    transition: 0.3s;
}
.add_new_category_button:hover {
    color: #fff;
    background: #346f18;
}
.add_new_category_button_wrap {
    margin-top: 45px;
    margin-bottom: 100px;
}
.add_new_object_bottom > div {
    display: flex;
    align-items: center;
    margin-bottom: 60px;
}
.add_new_object_bottom p {
    margin-left: 10px;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.04em;
    color: #5e5e5e;
    margin-bottom: 0;
}
.add_new_object_next {
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 32px;
    letter-spacing: 0.06em;
    color: #ffffff;
    background: #ffa800;
    box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.12);
    padding: 15px 60px;
    transition: 0.3s;
}
.add_new_object_next:hover {
    color: #fff;
    background: #ff8100;
}
.add_new_object_in_progress {
    margin-left: 100px;
}
.object_step_four,
.add_new_category_block_pattern,
.add_new_category_button_wrap,
.add_new_object_bottom {
    display: none;
}
.add_new_category_block {
    padding-top: 30px;
}
.add_new_object_bottom_in_progress {
    display: block;
    margin-top: 70px;
}
.object_single_category_title {
    cursor: pointer;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.input_error {
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 0.02em;
    color: red;
    margin: 20px 0 0;
    display: none;
}
/* .dz-details,
.dz-size,
.dz-filename,
.dz-error-message {
    display: none;
} */
/* Firefox */
input[type="number"] {
    -moz-appearance: textfield;
}
.add_object_form_title {
    max-width: 630px;
    margin: 0 auto;
}
.add_object_form_title .title {
    font-style: normal;
    font-weight: bold;
    font-size: 42px;
    line-height: 54px;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #050505;
}
.add_object_form_title .subtitle {
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 31px;
    letter-spacing: 0.02em;
    color: #000000;
}
.add_object_form {
    padding-top: 60px;
}
.add_form_content {
    max-width: 350px;
}
.small_prod {
    margin-bottom: 30px;
}
/* .dropzone .dz-preview .dz-details {
    z-index: 9 !important;
}
.dropzone .dz-preview .dz-image {
    z-index: 8 !important;
} */

.object_step_three > div {
    display: flex;
    justify-content: space-between;
    max-width: 850px;
    margin-bottom: 40px;
}
.object_step_select {
    height: 65px;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 31px;
    letter-spacing: 0.02em;
    text-indent: 20px;
    padding-right: 25px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    cursor: pointer;
}

.object_step_three > div > .select_wrap {
    position: relative;
    display: inline-block;
}
.object_step_three > div > .select_wrap:after {
    content: url("../img/object_step_select.png");
    padding: 0 8px;
    font-size: 12px;
    position: absolute;
    right: 5px;
    top: 20px;
    z-index: 1;
    text-align: center;
    width: 10%;
    height: 100%;
    pointer-events: none;
    box-sizing: border-box;
}
[data-id="object_step_three_input"] {
    width: 480px !important;
}
[data-id="object_step_three_city"] {
    width: 300px;
}
[data-id="object_step_three_metro"] {
    width: 405px;
}
[data-id="object_step_three_region"] {
    width: 380px;
}
.select_wrap > select {
    cursor: pointer;
}

/* FOOTER */
footer {
    padding: 60px 0;
    background: #3f3838;
}
.footer_bottom,
.footer_top {
    display: flex;
    justify-content: space-between;
}
.footer_top {
    padding-bottom: 10px;
    border-bottom: 1px solid #838282;
}
.footer_bottom {
    margin-top: 30px;
}
.footer_links a,
.footer_account a {
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 30px;
    letter-spacing: 0.01em;
    color: #ffffff;
    display: block;
}
.mobile_footer {
    display: none;
}
.footer_account a {
    margin-bottom: 20px;
}
.footer_links {
    /* width: 520px; */
    width: calc(100% - 455px);
}
.footer_info {
    width: 200px;
}
.footer_account {
    width: 200px;
    text-align: center;
}
.footer_terms {
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;

    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-top: 30px;
    color: #ffffff;
}

/* MOBILE MENU */
.mobile-menu {
    display: none;
}
.mobile-header-toggle {
    display: none;
}
.button_menu {
    width: 40px;
    height: 40px;
    padding: 8px 5px;
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    z-index: 3;
    margin: 5px auto;
}
.button_menu span {
    background: #ffffff;
    width: 100%;
    height: 4px;
    /* transition: opacity 300ms ease, transform 300ms ease; */
    /* transition-delay: 0.3s; */
}
.button_menu.active span {
    position: absolute;
    width: 56%;
    height: 2px;
    top: 47%;
    left: 20%;
    background: #ffffff;
}
.button_menu.active span:first-child {
    transform: rotate(45deg);
}
.button_menu.active span:last-child {
    transform: rotate(-45deg);
}
.button_menu.active span:nth-child(2) {
    opacity: 0;
}
.button_menu.active {
    position: absolute;
    right: 70%;
    top: -6px;
    background: #ff3d00;
    height: 61px;
    width: 61px;
    z-index: 20;
    /* transition-delay: 0.3s; */
}
.main_menu {
    display: flex;
    justify-content: center;
    padding: 21px 46px;
}
.main_menu ul {
    display: flex;
    flex-direction: column;
}
.main_menu ul li {
    margin-right: 25px;
    font-weight: 300;
    font-size: 15px;
    cursor: pointer;
    position: relative;
    transform: perspective(1px) translateZ(0);
}
.menu_responsive {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    opacity: 0;
    pointer-events: none;
    width: 75%;
    z-index: 20;
    transform: translateX(135%);
    /* transition: opacity 0.3s ease, transform 0.3s ease; */
    justify-content: flex-end;
}
.menu_responsive .main_menu {
    padding: 0px 20px 0;
    display: flex;
    background: #ffffff;
    width: 100%;
    flex-direction: column;
    overflow: scroll;
}
.menu_responsive .main_menu ul {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: auto;
    list-style: none;
    margin: 0;
    height: unset;
    margin-bottom: 115px;
}
.ukr-prod-title {
    width: 245px;
}
.ukr-prod-type {
    width: 163px;
}
.menu_responsive .main_menu li {
    margin: 0 0 10px;
    font-size: 30px;
    padding: 10px 0;
    text-transform: uppercase;
    font-weight: 500;
    padding: 0;
    margin: 0;
    line-height: 36px;
}
.menu_responsive .main_menu li span {
    display: none;
}
.menu_responsive .main_menu li .sub-menu {
    display: block;
    position: relative;
    margin: 0;
    height: auto;
    background: none;
    border: none;
    box-shadow: none;
    width: auto;
    padding: 0;
}
.menu_responsive .main_menu li a {
    font-size: 32px;
    line-height: 64px;
    letter-spacing: 0.08em;
    text-transform: capitalize;
    color: #2e2e2e;
}
.menu_responsive .main_menu li .sub-menu li {
    top: unset;
}
.menu_responsive .main_menu li .sub-menu li a {
    font-size: 20px;
    line-height: 35px;
}
.menu_responsive.active {
    opacity: 1;
    pointer-events: all;
    transform: translateX(40%);
}
.menu_responsive nav ul li:nth-child(3) .sub-menu,
.menu_responsive nav ul li:nth-child(4) .sub-menu {
    display: none;
}
.mob_menu_header {
    padding: 0 20px;
    display: flex;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 61px;
    border-bottom: 1px solid #e7e7e7;
}
.mob_menu_header .header_info p span {
    color: #000;
}
.mob_menu_footer {
    padding: 0 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    height: 80px;
    border-top: 1px solid #e7e7e7;
}
.mob_menu_footer a {
    display: block;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 35px;
    letter-spacing: 0.02em;
    color: #7a7a7a;
}
.menu_responsive .regions {
    padding-left: 20px;
    position: absolute;
    width: 100%;
    bottom: 120px;
    left: 0;
}
.menu_responsive .regions a img {
    margin-left: 10px;
}
.menu_responsive .regions a {
    font-style: normal;
    font-weight: normal;
    font-size: 23px;
    line-height: 46px;
    letter-spacing: 0.02em;

    color: #615757;
}

/* Menu dropdowns */
.header_location {
    position: relative;
    padding: 15px 0;
}
.sub-menu {
    /* background: rgba(255, 255, 255, 0.5); */
    background: #fff;
    z-index: 10;
    opacity: 0;
    transition: transform 0.1s cubic-bezier(0.2, 0, 0.2, 1),
        opacity 0.2s cubic-bezier(0.2, 0, 0.2, 1);
    transform: translateY(-10px) scaleY(0.5);
    transform-origin: top;
    box-shadow: 5px 5px 5px rgba(black, 0.3);
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 48px;
    left: 12px;
    width: 11em;
    height: 0;
    border-radius: 10px;
}
.sub-menu li a {
    color: #000;
    display: block;
    padding: 5px 10px;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 20px;
}
.sub-menu li {
    height: 0;
}
.header_account {
    position: relative;
    padding: 3px 0;
}
.account-sub-menu {
    width: 125px;
    top: 37px;
}
.account-sub-menu li a {
    font-size: 15px;
    text-transform: uppercase;
}
.header_location:hover > .sub-menu,
.header_account:hover > .sub-menu {
    /* clip: auto; */
    height: auto;
    opacity: 1;
    transform: translateY(0) scaleY(1);
}
.header_location:hover > .sub-menu li,
.header_account:hover > .sub-menu li {
    height: auto;
}

/* Menu dropdowns */
